--extra-index-url https://download.pytorch.org/whl/cu124
torch
torchvision
transformers
tiktoken
verovio
accelerate
numpy
thefuzz
pandas
opencv-python
fastapi 
uvicorn 
jinja2 
python-multipart
aiofiles
ollama